*, *::after {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}



.clearfix::after {
    content: " ";
    display: block;
    clear: both;

}

.main_navig {
    background-color: #000;
    margin: 0 auto;
    width: 960px;
}
    
body{
    
    background-color: #fff;
   
}

header{
    margin-top: 10px;

}


h1{
    float: left;
    margin: 5px 50px 0 0;
    background-color: #4aaaa5;   
    color: #fff;
    padding: 30px;
}


.nav_options {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-top: 10px;

}

.nav_options li{
    display: inline-block;
    margin: 10px;
    
    
}


.nav_options li a:link,
.nav_options li a:visited {
    text-decoration: none;
    color:#000;
    border-bottom: solid;
    border-bottom-color: transparent;
    color: #cccccc;

}
    
.nav_options li a:active,
.nav_options li a:hover {
    color: #4aaaa5;
    font-size: 21px;
    border-bottom: solid;
    
}


.one{

    border-top-style: solid;
    border-color: #cccccc;

}


.me{
    font-size: 22px;
    color: #4aaaa5; 
    margin: 0 auto;
    width: 960px;
    margin-top: 20px;


}
