*, *::after {
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}



.clearfix::after {
    content: " ";
    display: block;
    clear: both;

}

html{
    text-rendering: optimizeLegibility;
}

/*-----------------re-usable-------------------
    Size{
        
    margin: 0 auto;
    width: 960px;
    }


clearfix::after {
    content: " ";
    display: block;
    clear: both;

}

 <!--
<img src="https://via.placeholder.com/150">  -->


------------------------------------------------------*/
    
body{

    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;   

    /* background-color: #eee; */
    
   
}
/*---------------------------flexbox element from W3----------------------------*/

/*
.container {
    min-height:100%;
    position:relative;

    */


header {
   background:#fff;
   padding:10px;
}
.first-sec {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#666666;


   border-top: 5px solid #4aaaa5;
  
}

/*---------------------------flexbox element from W3----------------------------*/

/*----------------------------------------------------------------------------------------------------------------------
=                       Header starts                     =
-----------------------------------------------------------------------------------------------------------------------*/


header{
    margin-top: 10px;

}

.main_navig {
    
    margin: 0 auto;
    width: 960px;
    /* ----- 
    background-color: #000; 
    ----- */
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;    
    float: left;
    background-color: #4aaaa5;   
    color: #fff;
    padding: 30px;
    /*  ---- 
    margin: 5px 50px 0 0; 
    --- */

}


.nav_options {

    float: right;    
    margin-top: 10px;

    /*---
    list-style: none;
    text-decoration: none;
    ----*/

}

.nav_options li{
   
    display: inline-block;
    margin: 10px;
    
}


.nav_options li a:link,
.nav_options li a:visited {
    text-decoration: none;
    border-bottom: solid;
    border-bottom-color: transparent;
    color: #777777;
    letter-spacing: 1.5px;
    font-family: 'Indie Flower', cursive;
    

}
    
.nav_options li a:active,
.nav_options li a:hover {
    color: #4aaaa5;
    font-size: 18px;  
    border-bottom: solid;
    
}

/*----------------------------------------------------------------------------------------------------------------------
=                       Header Ends                     =
-----------------------------------------------------------------------------------------------------------------------*/

.first-sec{
    border-top-style: solid;
   border-top-color: #dddddd;
   background-color: #f3ffe9;;
   

  /*---- 

=border

  border-bottom-style: solid;
   border-bottom-color: #4aaaa5; 
 
=Possible background  

    background-color: #777777;             

----*/


}

.sec-border{
    background-color: #fff;
    margin: 0 auto;
    width: 960px;
    border: solid;
    border-color: #cccccc;
    margin-top: 25px;
    


}

.part-one{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    border-bottom: solid #dddddd;
    padding: 20px;
   

}

.part-one, .part-two {
    margin: 30px;
}

.part-two{
    padding-bottom: 15px;
    letter-spacing: 1.2px;
    font-weight: 300;
}


.mypic{
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
}

.foot-note{
    color: #fff;
    text-align: center;
    margin-top: 40px;
}


/*-----------------------Contact----------------------------*/

.btn{

    display: inline-block;
    background-color: #4aaaa5;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;

}

/*-----------------------Portfolio----------------------------*/



.port-imgs{
    
    margin: 20px;
    width: 150px;
}


  

  .flex-container-two {
    display: flex;
    background-color: #fff;
    justify-content: center;
    
  }
 
 
  .flex-container-two > div {
    background-color: #fff;
    margin: 0 30px;  
    font-size: 20px;
    color: #fff;
    

  }



  .thir-piclink{
    position: relative;
      text-align: center;
      color: white;
    }

  .port-link{
    text-decoration: none;
    color: #fff;
    
  }


  .imgtitlink{
    width: 150px;
}


.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 150px;
    padding: 3px 0;
  }

  
/*------------------------------------------
=Learn how to make flow elements  =
--------------------------------------------*/


.flex-container {
    display: flex;
    background-color: #fff;
    justify-content: center;
    
  }
 
 
  .flex-container > div {
      /*background-image: <img src="https://via.placeholder.com/150">*/
    background-color: #4aaaa5;
    margin: 40px 30px;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    width: 150px;
    text-align: center;
    

  }

  /*------------------------------------------
=Learn how to make flow elements above  =
--------------------------------------------*/





